@import "/styles/font.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-bgcard;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
body {
  font-family: "iransans-bold";
  direction: rtl;
}
@layer components {
  .textstroke {
    font-size: 3rem;
    background: -webkit-linear-gradient( #ee10b0, #0e9eef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
